# General
*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
output-metadata.json
local.properties
*.apk
/app/release/

# Models
*.ptl
*.pt
*.onnx
*.ort

# Python
venv

# Signature config
key.properties1
*.jks
